<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Remove all inherited package sources -->
    <clear />
    <!-- Add the official nuget.org package source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <fallbackPackageFolders>
    <!-- Remove all inherited fallback package folders -->
    <clear />
  </fallbackPackageFolders>
</configuration>
